@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
h1,h2,h3,h4,h5,p,li {
    font-family: DM Sans;
    color: white;
}

a { 
    margin-top:10px;
    font-family: DM Sans;
    text-decoration: none;
    color: lightblue;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url(/media/imgs/stars.jpg);
    background-size:cover;
}

.planets {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.planets div {
    cursor: pointer;
}

.planets {
    font-size: 25px;
}

.top {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border: solid;
    border-radius: 10px;
    width: 100%;
}

.top p {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
}

.content {
    border: solid 2px #000;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: fit-content;
    padding: 10px;
}

.all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 100px;
}